.body {
    background-color: rgb(12, 17, 17);
}
#body {
    background-image: radial-gradient(rgb(12, 17, 17), rgb(12, 17, 17),
     rgb(12, 17, 17), rgb(12, 17, 17), rgb(248, 71, 71), rgb(231, 247, 140), rgb(12, 17, 17),
     rgb(12, 17, 17), rgb(12, 17, 17));
    font-family: "Bodoni Moda", serif;
    background-size:contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#bod26 {
    background-color: rgb(12, 17, 17);
}
#vis {
    background-color: rgb(12, 17, 17);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}
    

#mainpage {
    position:absolute;
    background-image: url("gr.jpeg");
    background-size: cover;
    top: 40%;
    left: 50%;
    margin: -100px 0 0 -150px;
    width: 300px;
    height: 400px;
}
#mainpage:hover {
    box-shadow: 0 0 5px rgb(245, 238, 149),
                0 0 20px rgb(238, 248, 143),
                0 0 60px rgb(221, 245, 87),
                0 0 100px rgb(184, 209, 72)
}
h1 {
    text-align: center;
    font-family: "BBH Bartle", sans-serif;
    font-size: 70px;
    color:rgb(245, 238, 149);
}
.t:hover {
    transform: scale(1.1);
}
#line1 {
    position: absolute;
    background-color: aliceblue;
    width: 510px;
    height: 1px;
    left: 10%;
    top: 64.5%;
    color: aliceblue;
    font-size: 30px;
    font-family: "Bodoni Moda", serif;
}
#line2 {
    position: absolute;
    background-color: aliceblue;
    width: 450px;
    height: 1px;
    right: 15%;
    top: 55%;
    text-align: right;
    color: aliceblue;
    font-size: 30px;
    font-family: "Bodoni Moda", serif;
}
#s {
    position: absolute;
    top: 90%;
    left: 36%;
    font-size: 40px;
    font-family: "Bodoni Moda", serif;
    color: rgb(245, 238, 149);
}
.cart {
    position: relative;
}
#cart {
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 600px;
    background-color: white;
    top: 10%;
    left: 20%;
    font-family: "BBH Bartle", sans-serif;
    color: rgb(77, 30, 30);
    font-size: 20px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 10px black;
}
#item1 {
    background-image: url("product.jpeg");
    background-size: cover;
    width: 150px;
    height: 200px;
    left: 260px;
    top: 150px;
    border: 5px double rgb(32, 43, 9);
}
#item2 {
    background-image: url("another.jpeg");
    background-size: cover;
    width: 150px;
    height: 200px;
    top: 200px;
    left: 260px;
    border: 5px double rgb(32, 43, 9);
}
#lines {
    position: absolute;
    width: 700px;
    height: 1px;
    background-color: darkslategrey;
    top: 120px;
    left: 300px;
}
.check {
    position: absolute;
    background-color: rgb(240, 121, 105);
    top: 700px;
    left: 900px;
    bottom: 50px;
    width: 200px;
    height: 70px;
    bottom: 50px;
    font-family: "BBH Bartle", sans-serif;
    border-radius: 14px;
    box-shadow: 0 10px rgb(43, 37, 37),
}
.check:hover {
    background-color: rgb(116, 2, 2);
    box-shadow: 0 0 20px rgb(240, 121, 105),
                0 0 40px rgb(240, 121, 105);
}
.first {
    position: relative;
    height: 400px;
    width: 200px;
    box-shadow: -5px 5px 10px orange, -15px 15px 20px yellow, -20px 20px 25px rgb(58, 230, 135);
}
#f1 {
    z-index: 1;
    background-image: url("f1.jpeg");
    background-size: cover;
    top: 100px;
    left: 150px;
}
#f2 {
    z-index: 2;
    background-image: url("f2.jpeg");
    background-size: cover;
    top: -100px;
    left: 200px;
}
#f3 {
    z-index: 3;
    background-image: url("f3.jpeg");
    background-size: cover;
    top: -150px;
    left: 250px;
}
#f4 {
    z-index: 4;
    background-image: url("f4.jpeg");
    background-size: cover;
    left: 250px;
}
#f5 {
    z-index: 5;
    background-image: url("f5.jpeg");
    background-size: cover;
    top: -200px;
    left: 200px;
}
#f6 {
    z-index: 6;
    background-image: url("f6.jpeg");
    background-size: cover;
    top: -250px;
    left: 150px;
}
.second {
    position: absolute;
    height: 400px;
    width: 200px;
    box-shadow: 5px 5px 10px orange, 15px 15px 20px yellow, 20px 20px 25px rgb(58, 230, 150);
}
#f7 {
    position: absolute;
    z-index: 1;
    background-image: url("f1.jpeg");
    background-size: cover;
    top: 100px;
    right: 150px;
}
#f8 {
    z-index: 2;
    background-image: url("f2.jpeg");
    background-size: cover;
    top: 290px;
    right: 190px;
}
#f9 {
    z-index: 3;
    background-image: url("f3.jpeg");
    background-size: cover;
    top: 640px;
    right: 230px;
}
#f10 {
    z-index: 4;
    background-image: url("f4.jpeg");
    background-size: cover;
    right: 250px;
    top: 1200px;
}
#f11 {
    z-index: 5;
    background-image: url("f5.jpeg");
    background-size: cover;
    top: 1400px;
    right: 200px;
}
#f12 {
    z-index: 6;
    background-image: url("f6.jpeg");
    background-size: cover;
    top: 1750px;
    right: 150px;
}
.catalogue {
   position: absolute; 
    top: 900px;
    left: 540px; 
    height: 800px;
    width: 200px;
    margin-bottom: 50px;
    color: rgb(149, 248, 56);
    font-family: "Bodoni Moda", serif;
    font-size: 30px;
    text-align: center;
}
.catalogue p:hover {
    color:rgb(129, 231, 88);
}
#qua {
    position: absolute;
    top: 245px;
    left: 770px;
    width: 30px;
}
#quan {
    position: absolute;
    top: 480px;
    left: 770px;
    width: 30px;
}
#h {
    position: absolute;
    top: 220px;
    left: 470px;
}
#h1 {
    position: absolute;
    top: 450px;
    left: 470px;
}
#items {
    display: inline-flex;   
    padding: 100px 40px;     
    color: crimson;
    position: absolute;     
    top: 40px;
    left: 530px;
}
#kzt {
    position: absolute;
    top: 450px;
    left: 850px;
}
#kzt4 {
    position: absolute;
    top: 220px;
    left: 850px;
}
#Total {
    position: absolute;
    top: 600px;
    left: 850px;
}
input[type=search] {
    background-color: rgb(201, 245, 158);
    box-shadow: 0px 3px 3px yellow;
}
#contact {
    position: absolute;
    top: 150px;
    left: 100px;
    background-image: url("contacts.webp");
    width: 300px;
    height: 400px;
    background-size: cover;
    box-shadow: 0px 0px 20px black;
}
#more {
    position: absolute;
    top: 500px;
    right: 100px;
    background-image: url("contacts3.webp");
    width: 300px;
    height: 400px;
    background-size: cover;
    box-shadow: 0px 0px 20px black;
}
#push {
    color: white;
    font-size: 30px;
    position: absolute;
    left: 850px;
    top: 180px;
    width: 80px;
    font-family: "BBH Bartle", sans-serif;
}
#cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#believe {
    color: white;
    font-size: 30px;
    position: absolute;
    left: 50px;
    top: 600px;
    width: 80px;
    font-family: "BBH Bartle", sans-serif;
}
#numbers {
    color: rgb(147, 243, 168);
    font-size: 30px;
    position: absolute;
    left: 50px;
    top: 50px;
    width: 500px;
    font-family: "BBH Bartle", sans-serif;
}
.cn {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 150px;
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: rgb(12, 17, 17);
    box-shadow: 0px 0px 10px white,
                0px 0px 20px white;
    border-radius: 30px;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.cn p {
    margin: 6px 0;
}
.mn {
    background-color: aliceblue;
    width: 1px;
    height: 150px;
}
#m {
    position: absolute;
    top: 250px;
    left: 630px;
}
#n {
    position: absolute;
    top: 550px;
    left: 630px;
}
.l {
    background-color: black;
    width: 1px;
    height: 300px;
}
#l1 {
    position: absolute;
    top: 230px;
    left: 830px;
}
#l2 {
    position: absolute;
    top: 230px;
    left: 740px;
}
.cn:hover{
    box-shadow: 0px 0px 10px aliceblue,
                0px 0px 20px aliceblue,
                0px 0px 30px aliceblue;
}
.photo:hover{
    transform: scale(1.2);
}
.catalogue p:hover {
    text-decoration: underline;
    transform: scale(1.1);
}
.first:hover {
    box-shadow: 5px 5px 10px orange, 15px 15px 20px yellow, 20px 20px 25px rgb(58, 230, 150),
    -5px 5px 10px orange, -15px 15px 20px yellow, -20px 20px 25px rgb(58, 230, 135);
}
.second:hover {
    box-shadow: -5px 5px 10px orange, -15px 15px 20px yellow, -20px 20px 25px rgb(58, 230, 135), 
    5px 5px 10px orange, 15px 15px 20px yellow, 20px 20px 25px rgb(58, 230, 150);
}
.clothes:hover {
    text-decoration: line-through;
}
